/*
 * 1 - Page
 * 2 - Header
 * 3 - Filtres - Formulaire
 * 4 - Filtres - Bouton
 * 5 - Filtres - Informations
 * 6 - Hébergements
 * 7 - Activités
 * 8 - Footer
 */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

li,
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

a,
a:hover {
    text-decoration: none;
    color: #000;
}

p {
    margin-bottom: 0;
}

/* 1 - Page */
.page {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

/* 2 - Header */
.entete_de_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.entete__logo {
    max-width: 180px;
}

.entete__nav_items {
    display: inline-block;
}

.entete__nav_link {
    display: inline-block;
    padding: 50px 0;
    width: 162px;
    border-top: #fff solid 2px;
    transition: 0.1s;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.entete__nav_link:hover {
    border-top: #0065fc solid 2px;
    color: #0065fc;
}

/* 4 - Filtres - Formulaire */
.filtres__form_input {
    border: #f2f2f2 solid 2px;
    width: max-content;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.filtres__form_input * {
    margin: 0;
}

.filtres__form_input .map_icon {
    background: #f2f2f2;
    padding: 10px 15px;
    display: inherit;
    border-radius: 10px 0 0 10px;
}

.filtres__form_input input {
    border: none;
    padding: 10px 15px;
    font-weight: 600;
}

.filtres__form_input button {
    background: #0065fc;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.05);
    border-radius: 0 10px 10px 0;
}

.filtres__form_input button * {
    transform: scale(0.95);
}

.filtres__form_input button i {
    display: none;
}

/* 4 - Filtres - Bouton */
.filtres__button {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.filtres__button_title {
    font-weight: 600;
    margin-right: 30px;
}

.filtres__button_liste {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.filtres__button_items {
    border-radius: 30px;
    border: #d9d9d9 solid 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    cursor: pointer;
}

.filtres__button_items:last-child {
    margin-right: 0;
}

.filtres__button_text {
    padding: 0 20px 0 10px;
    font-weight: 600;
}

.fas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtres__button_icons {
    background: #deebff;
    color: #0065fc;
    height: 50px;
    width: 50px;
    transform: scale(1.1);
    border-radius: 30px;
}

/* 5 - Filtres - Informations */
.filtres__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filtres__infos_icon {
    border: #d9d9d9 1px solid;
    border-radius: 20px;
    color: #0065fc;
    width: 25px;
    height: 25px;
    padding: 15px;
    margin-right: 12px;
}

/* 6 - Hébergements */
#hebergement {
    margin: 37px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.hebergement__loft,
.hebergement__poploft {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 47px 40px;
}

/* 6.1 - Hébergement - A marseille */
.hebergement__loft {
    width: calc((2 * 100% / 3) - 40px);
}

.loft__list,
.poploft__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.loft_card,
.poploft_card {
    width: 32%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    border: #fff solid 5px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(78, 78, 78, 0.3);
}

.loft_card__img {
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.loft_card__infos, .poploft_card__infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.loft_card__infos > *, .poploft_card__infos > *{
    width: 100%;
}

.loft_card__infos {
    padding: 12px 17px;
    height: calc(100% - 115px);
}

.loft_card_article {
    height: 100%;
}

.card_grade {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: #d9d9d9;
}

.active-star {
    color: #0065fc;
}

.more_link {
    font-weight: 600;
}

/* 6.2 - Hébergement - Les plus populaires */
.hebergement__poploft {
    width: calc(100% / 3);
}

.pop_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.poploft_card {
    width: 100%;
}

.poploft_card_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.poploft_card__img {
    height: 100%;
    max-height: 140px;
    width: 35%;
    object-fit: cover;
    object-position: center;
}

.poploft_card__infos {
    width: 65%;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

/* 7 - Activités */
#activites {
    margin-bottom: 60px;
}

.activites_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.activite_col {
    width: 23%;
    height: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.activite_card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(78, 78, 78, 0.3);
    width: 100%;
}

.activite_card img {
    width: 100%;
    height: calc(100% - 55px);
    object-fit: cover;
    object-position: center;
}

.activite_card__article {
    height: 100%;
    width: 100%;
}

.activite_single {
    height: 445px;
}

.activite_fort {
    height: 235px;
}

.activite_ile {
    height: 165px;
}

.activite_notre_dame {
    height: 195px;
}

.activite_longchamp {
    height: 210px;
}

.activite-card__title {
    min-height: 55px;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

/* 8 - Footer*/
.pied_de_page {
    width: 100%;
    background: #f2f2f2;
    padding: 50px 0;
}

.footer_section {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_col {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    /* Main */
    .page {
        width: 100%;
    }

    /* Filtres */
    .filtres__button_items {
        margin: 5px 5px 5px 0;
    }

    /* Hébergement */
    #hebergement, #activites {
        margin-bottom: 0;
    }

    .filtres,
    .hebergement__loft,
    .hebergement__poploft,
    #activites,
    .pied_de_page {
        width: 100%;
        border-radius: 0;
        padding: 25px;
    }

    .hebergement__loft {
        background: #fff;
    }

    .hebergement__poploft {
        order: -1;
    }

    .loft_card {
        width: 48%;
    }

    /* Activités */
    .activite_col {
        width: 48%;
        margin-bottom: 20px;
    }

    .activite_fort,
    .activite_ile,
    .activite_notre_dame,
    .activite_longchamp {
        height: 48%;
    }

    .activite_col:nth-child(3) {
        order: 3;
    }

    /* Footer */
    .footer_section{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    /* Header */
    .entete_de_page {
        flex-direction: column;
        align-items: center;
    }

    .entete__logo {
        width: 100px;
        padding-top: 10px;
    }

    .entete__nav {
        width: 100%;
    }

    .entete__nav_list {
        display: flex;
    }

    .entete__nav_items {
        width: 50%;
    }

    .entete__nav_link {
        width: 100%;
        padding: 15px 0;
        border-top: none;
        border-bottom: #f2f2f2 solid 2px;
    }

    .entete__nav_link:hover {
        border-bottom: #0065fc solid 2px;
        border-top: none;
    }

    /* Main */
    .corps_de_page {
        width: 100%;
    }

    /* Filtres */
    .filtres__form_input {
        width: 100%;
    }

    .filtres__form_input input {
        width: inherit;
    }

    .filtres__form_input button {
        border-radius: 15px;
    }

    .filtres__form_input button i {
        display: block;
    }

    .filtres__form_input button span {
        display: none;
    }

    .filtres__button_items:last-child {
        margin-right: 0;
    }

    .filtres__info {
        align-items: flex-start;
    }

    /* Hébergements */
    .loft_card {
        width: 100%;
    }

    .loft_card,
    .poploft_card {
        margin-bottom: 15px;
    }

    /* Activités */
    .activite_col {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .activite_card {
        height: 150px;
        margin-bottom: 30px;
    }

    .activite_col:nth-child(3) {
        order: initial;
    }

    /* Footer */
    .footer_col{
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_col:last-child{
        margin-bottom: 0
    }
}
